<li>
  <a ui-sref="database({ database: '{{ vm.context.dbName }}' })">Database:</a>
</li>
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ vm.context.dbName }}<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li ng-repeat="db in vm.context.databases">
      <a ui-sref="database({ database: '{{ db }}' })">{{ db }}</a>
    </li>
  </ul>
</li>
<li>
  <a ui-sref="database({ database: '{{ vm.context.dbName }}' })"><span class="glyphicon glyphicon-chevron-right"></span></a>
</li>
<li>
  <a ui-sref="collection({ database: '{{ vm.context.dbName }}', collection: '{{ vm.context.collectionName }}' })">Collection:</a>
</li>
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ vm.context.collectionName }}<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li ng-repeat="c in vm.context.collections">
      <a ui-sref="collection({ database: '{{ vm.context.dbName }}', collection: '{{ c }}' })">{{ c }}</a>
    </li>
  </ul>
</li>