<!-- <script type="text/javascript">
'use strict';
function getParameterByName(name) { name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]"); var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search); return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " ")); }
jQuery(document).ready(function($) {
  $('#tabs').tab();
  if (document.location.href.indexOf('query=') >= 0 && getParameterByname('query')!='') {
    $('#tabs a[href="#advanced"]').tab('show');
  }
});
</script> -->

<style type="text/css">
  li.uib-tab {
    width: 49%;
    display: table-cell;
  }
</style>

<p ng-if="!vm.context.readOnly">
  <button type="button" class="btn btn-success btn-large btn-block" ng-click="vm.addDocument()">
    <span class="glyphicon glyphicon-pencil"></span>
    New Document
  </button>
</p>

<uib-tabset type="pills">
  <uib-tab classes="text-center">
    <uib-tab-heading>
      <span class="glyphicon glyphicon-tag"></span> Simple
    </uib-tab-heading>
    <div class="well">
      <div class="row">
        <!-- <div class="form-group col-sm-6 col-md-4">
          <input style="width:100%;" class="input-medium form-control" type="text" id="key" name="key" placeholder="Key" title="Key">
        </div> -->
        <div class="form-group col-sm-12">
          <input style="width:100%;" class="input-medium form-control" type="text" placeholder="Search" ng-model="vm.searchValue">
        </div>
        <!-- <div class="form-group col-sm-6 col-md-2">
          <select name="type" class="form-control"> -->
          <!-- {% if type == 'S' %}selected {% endif %} -->
           <!--  <option value="S">String</option>
            <option value="R">Regex</option>
            <option value="J">JSON, bool</option>
            <option value="N">Number</option>
            <option value="O">ObjectID</option>
          </select>
        </div>
        <div class="form-group col-sm-6 col-md-2">
          <button type="submit" class="btn btn-primary btn-block">
            <span class="glyphicon glyphicon-search"></span>
            Find
          </button>
        </div> -->
      </div>
    </div>
  </uib-tab>
  <!-- <uib-tab classes="text-center">
    <uib-tab-heading>
      <span class="glyphicon glyphicon-tags"></span> Advanced
    </uib-tab-heading>
    <div class="well">
      <div class="row">
        <div class="form-group col-sm-6 col-md-5">
          <textarea class="input-medium form-control" style="width: 100%; height: 150px" id="query" name="query" placeholder="Query" title="Query">{{ query }}</textarea>
        </div>
        <div class="form-group col-sm-6 col-md-5">
          <textarea class="input-medium form-control" style="width: 100%; height: 150px" id="projection" name="projection" placeholder="Projection" title="Projection">{{ projection }}</textarea>
        </div>
        <div class="form-group col-md-2">
          <button style="height:150px;" type="submit" class="btn btn-primary btn-block">
            <span class="glyphicon glyphicon-search"></span>
            Find
          </button>
        </div>
      </div>
    </div>
  </uib-tab> -->
</uib-tabset>

<script type="text/ng-template" id="addDocumentModalContent.html">
  <div class="modal-header">
    <button class="close" ng-click="vm.close()">×</button>
    <h2>Add Document</h2>
  </div>

  <div class="modal-body">
    <ui-codemirror ui-codemirror-opts="vm.editorOptions" ng-model="vm.doc"></ui-codemirror>
  </div>
  <div class="modal-footer">
    <button class="btn btn-error" ng-click="vm.close()">Close</button>
    <button type="submit" class="btn btn-success" ng-click="vm.addDocument()">
        <span class="glyphicon glyphicon-pencil"></span>
        Save
      </button>
  </div>
</script>

<p class="well" ng-hide="vm.context.ctx.docs.length">
  No documents found.
</p>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <th ng-repeat="column in vm.context.ctx.columns">
        {{ column }}
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="doc in vm.context.ctx.docs.slice(((vm.currentPage-1)*vm.itemsPerPage), ((vm.currentPage)*vm.itemsPerPage)) | filter: vm.searchValue" ng-click="vm.loadDocument(doc._id)">
        <td ng-repeat="(key, value) in doc">
          <button type="submit" class="btn btn-danger" ng-if="key=='_id' && !vm.context.readOnly && vm.context.collectionName !='system.indexes'" ng-click="vm.deleteDocument(value);$event.stopPropagation()">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
          {{ value }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage" ng-hide="!vm.context.ctx.docs.length"></uib-pagination>

<div class="row">
  <div class="col-md-12" ng-if="!vm.context.readOnly">
    <h2>Rename Collection</h2>
    <form class="well form-inline" ng-submit="vm.renameCollection()">
      <div class="form-group">
        <span class="add-on">{{ vm.context.dbName }} . </span>
        <input class="form-control" type="text" name="collection" ng-model="vm.name" placeholder="{{ vm.context.collectionName }}">
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        Rename
      </button>
    </form>
  </div>
</div>

<h2>Tools</h2>
<div class="row">
  <div class="col-sm-6" ng-class="{ 'col-lg-3': !vm.context.readOnly }">
    <div class="well">
    <a href="{{ vm.context.baseHref }}db/{{ vm.context.dbName }}/export/{{ vm.context.collectionName }}" class="btn btn-warning btn-block">
      <span class="glyphicon glyphicon-floppy-save"></span><br>Export Standard
    </a>
    </div>
  </div>

  <div class="col-sm-6" ng-class="{ 'col-lg-3': !vm.context.readOnly }">
    <div class="well">
    <a href="{{ vm.context.baseHref }}db/{{ vm.context.dbName }}/expArr/{{ vm.context.collectionName }}" class="btn btn-warning btn-block">
      <span class="glyphicon glyphicon-floppy-save"></span><br>Export --jsonArray
    </a>
    </div>
  </div>

  <div class="col-sm-6 col-lg-3" ng-if="!vm.context.readOnly">
    <div class="well">
      <button class="btn btn-danger btn-block" ng-click="vm.compact()">
        <span class="glyphicon glyphicon-resize-small"></span><br>Compact
      </button>
    </div>
  </div>

  <div class="col-sm-6 col-lg-3">
    <div class="well">
      <button class="btn btn-danger deleteButton btn-block" ng-click="vm.deleteCollection()" tooltip-placement="top-right" uib-tooltip="Warning! Are you sure you want to delete this collection? All documents will be deleted.">
        <span class="glyphicon glyphicon-trash"></span><br>Delete
      </button>
    </div>
  </div>
</div>

<script type="text/ng-template" id="collectionModalContent.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="vm.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4>Delete collection</h4>
  </div>
  <div class="modal-body">
    <p>
      Be careful! You are about to delete whole <strong>{{ vm.collection }}</strong> collection.
    </p>
    <p>
      <label for="confirmation-input">Type the collection name to proceed.</label>
      <input type="text" id="confirmation-input" name="confirmation-input" ng-model="vm.collectionConfirm" required />
      <p ng-show="vm.collectionConfirm !== vm.collection && vm.showMessage" class="help-block">Collection name does not match.</p>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" id="delete" ng-click="vm.deleteCollection()">Delete</button>
    <button type="button" class="btn btn-primary" ng-click="vm.close()">Cancel</button>
  </div>
</script>

<div class="stats col-md-12">
  <h2>Collection Stats</h2>
  <table class="table table-bordered table-striped">
    <tr>
      <td>
        <strong>Documents</strong>
      </td>
      <td>
        {{ vm.context.ctx.stats.count }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Total doc size</strong>
      </td>
      <td>
        {{ vm.context.ctx.stats.size | convertBytes }}
      </td>
    </tr>
    <tr>
      <td>
      <strong>Average doc size</strong>
      </td>
      <td>
        {{ (vm.context.ctx.stats.avgObjSize || 0) | convertBytes }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Pre-allocated size</strong>
      </td>
      <td>
        {{ vm.context.ctx.stats.storageSize | convertBytes }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Indexes</strong>
      </td>
      <td>
        {{ vm.context.ctx.stats.nindexes }}
      </td>
    </tr>
    <tr ng-if="vm.context.ctx.stats.nindexes" ng-repeat="size in vm.context.ctx.stats.indexSizes">
      <td><li>{{ $index }}</li></td>
      <td>{{ size | convertBytes }}</td>
    </tr>
    <tr>
      <td>
        <strong>Total index size</strong>
      </td>
      <td>
        {{ vm.context.ctx.stats.totalIndexSize | convertBytes }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Padding factor</strong>
      </td>
      <td>
        {{ vm.context.ctx.stats.paddingFactor }}
      </td>
    </tr>
     <tr>
      <td>
        <strong>Extents</strong>
      </td>
      <td>
        {{ vm.context.ctx.stats.numExtents }}
      </td>
    </tr>
  </table>
</div>