<!-- {% block title %}{{ document._id|to_string }}{% endblock %} -->
<ui-codemirror ui-codemirror-opts="vm.editorOptions" ng-model="vm.doc"></ui-codemirror>
<br />
<div>
  <button ng-click="vm.back()" class="backButton btn btn-warning btn-large" type="button">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back
  </button>
  <button type="submit" class="btn btn-success btn-large pull-right" ng-click="vm.updateDocument()" ng-if="!vm.context.readOnly">
    <span class="glyphicon glyphicon-pencil"></span>
    Save
  </button>
</div>

<div ng-if="!vm.context.readOnly">
  <br>
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger" ng-click="vm.deleteDocument()">
    <span class="glyphicon glyphicon-trash"></span>
    Delete
  </button>
</div>