<!-- {% block title %}{{ bucketName }}{% endblock %} -->
<style>
  td > a {

  }
</style>

<p class="well" ng-if="!vm.context.ctx.files.length">
  No files found.
</p>

<div class="table-responsive tableWrapper" ng-if="vm.context.ctx.files.length">
  <table class="table table-striped">
    <thead>
      <th>
        Download
      </th>
      <th ng-repeat="column in vm.context.ctx.columns">
        {{ column }}
      </th>
      <th ng-if="!vm.context.readOnly">Delete</th>
    </thead>
    <tbody>
      <tr ng-repeat="file in vm.context.ctx.files" >
        <td>
          <a ng-href='{{ vm.context.baseHref }}db/{{ vm.context.dbName }}/gridFS/{{ vm.context.bucketName }}/"{{ file._id }}"' class="btn btn-success btn-block">
            <span class="glyphicon glyphicon-floppy-save"></span>
            <br>Download
          </a>
        </td>
        <td ng-repeat="column in vm.context.ctx.columns">
            {{ file[column] }}
        </td>
        <td ng-if="!vm.context.readOnly">
          <div class="col-md-1">
            <button type="submit" class="btn btn-danger" ng-click="vm.deleteFile(file._id);$event.stopPropagation()">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row" ng-if="!vm.context.readOnly">
  <div class="col-md-12">
    <h2>Add File</h2>
    <div class="well clearfix">
      <div class="form-group pull-left">
        <input type="file" class="input-medium span7" file-input="vm.file">
      </div>
      <button type="submit" class="btn btn-success pull-right" ng-click="vm.addFile()">
        <span class="glyphicon glyphicon-upload"></span>
        Upload
      </button>
    </div>
  </div>
</div>