<div class="panel panel-default">
  <div class="panel-heading">
    <div style="display: inline-block;">
      <h4 style="font-weight: bold;">Databases</h4>
    </div>
    <!-- if !settings.read_only -->
    <form class="form-inline" method="POST" style="float:right;">
      <div class="input-group">
        <input class="form-control" type="text" id="database" name="database" placeholder="Database Name" title="Database Name" uib-popover="Database names must begin with a letter or underscore, and can contain only letters, numbers, underscores and dots." popover-trigger="mouseenter">
        <span class="input-group-btn">
      <button type="submit" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-plus"></span>
        Create Database
      </button>
        </span>
      </div>
    </form>
    <!-- endif -->
    </div>
  <div class="panel-body no-padding">
<table class="table table-bordered table-striped table-condensed no-margin">
  <!-- for db in databases -->
  <tr ng-repeat="db in vm.context.databases">
    <td class="col-md-2">
      <a href="{{ vm.context.baseHref }}db/{{ db }}/" class="btn btn-success btn-block" >
        <span class="glyphicon glyphicon-eye-open"></span><br>View
      </a>
    </td>
    <td><h3><a href="{{ baseHref }}db/{{ db }}/">{{ db }}</a></h3></td>
    <!-- if !settings.read_only -->
    <td class="col-md-2">
      <button class="btn btn-danger btn-block deleteButton" ng-click="vm.deleteDb(db)" tooltip-placement="top-right" uib-tooltip="Warning! Are you sure you want to delete this database? All collenctions and documents will be deleted.">
        <span class="glyphicon glyphicon-trash"></span><br>Del
      </button>
    </td>
    <!-- endif -->
  </tr>
  <!-- endfor -->
</table>
</div>
</div>

<!-- if !settings.read_only -->
<script type="text/ng-template" id="deleteModalContent.html">
  <div class="modal-header">
            <button type="button" class="close" ng-click="vm.close()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Delete database</h4>
        </div>
        <div class="modal-body">
            <p>
            Be careful! You are about to delete whole <strong>{{ vm.database }}</strong> database.
          </p>
          <p>
            <label for="confirmation-input">Type the database name to proceed.</label>
            <input type="text" id="confirmation-input" name="confirmation-input" ng-model="vm.dbConfirm" />
          </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" id="delete" ng-click="vm.deleteDb()">Delete</button>
          <button type="button" class="btn btn-primary" ng-click="vm.close()">Cancel</button>
        </div>
</script>

<!-- COMMENTED OUT BY DEFAULT -->
<!--h2>Create Database</h2>
<form class="well form-inline" method="POST">
    <div class="form-group">
      <input class="input-medium" type="text" id="database" name="database" placeholder="Database Name" title="Database Name">
    </div>
    <button type="submit" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-plus"></span>
      Create Database
    </button>
</form-->

<!-- endif -->

<div ng-hide="vm.context.ctx.info">
  <h2>Server Status</h2>
  <p>
    Turn on admin in config.js to view server stats!
  </p>
</div>

<div class="panel panel-default stats" ng-show="vm.context.ctx.info">
  <div class="panel-heading">
    <h4 style="font-weight: bold;">Server Status</h4>
  </div>
<table class="table table-bordered table-striped">
  <tr>
    <td class="span2"><strong>Hostname</strong></td>
    <td class="span3" id="dbHost">{{ vm.context.ctx.info.host }}</td>
    <td class="span2"><strong>MongoDB Version</strong></td>
    <td class="span3" id="dbVersion">{{ vm.context.ctx.info.version }}</td>
  </tr>
  <tr>
    <td><strong>Uptime</strong></td>
    <td>{{ vm.context.ctx.info.uptime }} seconds {{ vm.uptimeDays }}</td>
    <td><strong>Server Time</strong></td>
    <td>{{ vm.context.ctx.info.localTime | date : 'EEEE, MMMM d, y h:mm:ss a' }}</td>
  </tr>
  <tr><td colspan="4">&nbsp;</td></tr>
  <tr>
    <td><strong>Current Connections</strong></td>
    <td>{{ vm.context.ctx.info.connections.current }}</td>
    <td><strong>Available Connections</strong></td>
    <td>{{ vm.context.ctx.info.connections.available }}</td>
  </tr>
  <tr>
    <td><strong>Active Clients</strong></td>
    <td>{{ vm.context.ctx.info.globalLock.activeClients.total }}</td>
    <td><strong>Queued Operations</strong></td>
    <td>{{ vm.context.ctx.info.globalLock.currentQueue.total }}</td>
  </tr>
  <tr>
    <td><strong>Clients Reading</strong></td>
    <td>{{ vm.context.ctx.info.globalLock.activeClients.readers }}</td>
    <td><strong>Clients Writing</strong></td>
    <td>{{ vm.context.ctx.info.globalLock.activeClients.writers}}</td>
  </tr>
  <tr>
    <td><strong>Read Lock Queue</strong></td>
    <td>{{ vm.context.ctx.info.globalLock.currentQueue.readers }}</td>
    <td><strong>Write Lock Queue</strong></td>
    <td>{{ vm.context.ctx.info.globalLock.currentQueue.writers}}</td>
  </tr>
  <tr><td colspan="4">&nbsp;</td></tr>
  <tr>
    <td><strong>Disk Flushes</strong></td>
    <td>{{ vm.context.ctx.info.backgroundFlushing.flushes }}</td>
    <td><strong>Last Flush</strong></td>
    <td>{{ vm.context.ctx.info.backgroundFlushing ? (vm.context.ctx.info.backgroundFlushing.last_finished | date : 'EEEE, MMMM d, y h:mm:ss a') : '' }}</td>
  </tr>
  <tr>
    <td><strong>Time Spent Flushing</strong></td>
    <td>{{ vm.context.ctx.info.backgroundFlushing.total_ms }} ms</td>
    <td><strong>Average Flush Time</strong></td>
    <td>{{ vm.context.ctx.info.backgroundFlushing.average_ms }} ms</td>
  </tr>
  <tr><td colspan="4">&nbsp;</td></tr>
  <tr>
    <td><strong>Total Inserts</strong></td>
    <td>{{ vm.context.ctx.info.opcounters.insert }}</td>
    <td><strong>Total Queries</strong></td>
    <td>{{ vm.context.ctx.info.opcounters.query }}</td>
  </tr>
  <tr>
    <td><strong>Total Updates</strong></td>
    <td>{{ vm.context.ctx.info.opcounters.update}}</td>
    <td><strong>Total Deletes</strong></td>
    <td>{{ vm.context.ctx.info.opcounters.delete}}</td>
  </tr>
</table>
</div>